body {
	margin: 2em;
	font: 100% sans-serif;
}

.constrained {
	max-width: 900px;
	margin: 0 auto;
}

.panel {
	background: #EEE;
	border: solid 1px #CCC;
	padding: 1.5em;
	margin: 0 -1.5em 2em;
}

.badge {
	overflow: hidden;
	padding-left: 300px;
}

.badge .title {
	margin: 0 0 0 0.5em;
	font-size: 2em;
	border-bottom: solid 1px #CCC;
}

.badge .image {
	width: 300px;
	margin: -2em 1em 0 -300px;
	float: left;
}

#header {
	background: #333;
	color: #EEE;
	padding: 0.75em 1.5em;
	margin: -1.5em -1.5em 2em;
	overflow: hidden;
}

#header a {
	color: inherit;
	text-decoration: none;
}

#header h1 {
	float: left;
	font-size: 1.5em;
	font-weight: normal;
	margin: 0;
}

#header ul {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

#header li {
	float: left;
	line-height: 1.5em;
	padding: 0 0 0 1.5em;
}

.grid {
	list-style: none;
	margin: 0 0 0 -2em;
	padding: 0;
	overflow: hidden;
}

.grid .item {
	float: left;
	width: 25%;
	padding-left: 2em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media screen and (max-width: 800px) {
	.grid .item {
		width: 33.333%;
	}
}

@media screen and (max-width: 600px) {
	.grid .item {
		width: 50%;
	}
}

.thumb {
	margin: 0;
	padding: 0;
}

.thumb img {
	display: block;
	width: 100%;
}

.search {
	background: #EEE;
	padding: 1.5em 3em;
	margin: 0 0 2em;
	text-align: center;
}

.search .text,
.search .btn {
	font-size: 1.5em;
}